[workspace]
authors = ["Sébastien Boisgérault <Sebastien.Boisgerault@gmail.com>"]
channels = ["conda-forge"]
description = "Control Engineering with Python"
name = "control-engineering-with-python"
platforms = ["linux-64", "win-64", "osx-64", "osx-arm64"]
version = "0.1.0"

[tasks]
start = "jupyter lab"

[dependencies]
python = ">=3.13.1,<3.14"
pip = ">=25.0,<26"
black = ">=25.1.0,<26"
numpy = ">=2.2.2,<3"
scipy = ">=1.15.1,<2"
autograd = ">=1.7.0,<2"
matplotlib = ">=3.10.0,<4"
jupyterlab = ">=4.3.5,<5"
ffmpeg = ">=7.1.0,<8"
tqdm = ">=4.67.1,<5"
sympy = ">=1.13.3,<2"

[feature.build]
# The old version of pandoc used prevents building on osx-arm64
platforms = ["linux-64", "win-64", "osx-64"] 

[feature.build.dependencies]
curl = ">=8.11.1,<9"
ffmpeg = ">=7.1.0,<8"
lxml = ">=5.3.0,<6"
pandoc = "2.17.1.1.*"
nodejs = ">=22.12.0,<22.14"
# texlive-core = "*"  # not "good enough" for matplotlib

[feature.build.activation]
scripts = ["scripts/install-decktape.sh"]

[feature.build.pypi-dependencies]
pandoc = ">=2.4, <3"

[feature.build.tasks]
build = "./build"
clean = "rm -rf *.html *.pdf *.ipynb"

[environments]
build = ["build"]
